#wrapper-main {
    color: white;
}

#sidebar-left {
    background-color: #2D2E37;
    padding: 16px;
}

#wrapper-right {
    background-color: #1C1A24;
}

#box-center-wrapper {
    background-color: #2D2E37;
}

/* Box center */
#box-center {
    background-color: #1C1A24;
    border-radius: 50px 0 0 50px;
}

#box-center #title {
    font-size: 25px;
    color: white;
}

/* Sidebar Right */

#wrapper-sidebar-right {
    background-color: #1C1A24;
}

#sidebar-right {
    padding: 0 30px;
    background-color: #2D2E37;
    border-radius: 50px 0 0 50px;
}

#sidebar-right #title {
    font-size: 25px;
}

/* Music list box */
#music-list-box {
    background-color: #1C1A24;
}

/* Music item */
#music-item #title {
    font-size: 20px;
}

#music-item #artist {
    color: #757578;
    font-size: 12px;
}

/* Cover wrapper */
#cover-wrapper {
    background-position: center;
    background-size: 80px;
    border-radius: 16px;
}

/* playlist item */
#library-list {
    background-color: inherit;
}

#playlist-item {
    background-color: inherit;
}

#playlist-item #type-text {
    color: #757578;
    font-size: 12px;
}

.playlist #title {
    font-size: 20px;
    color: #fff;
}

.playlist #cover-wrapper {
    background-color: #727AC5;
}